body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333
}

.container {
    display: flex;
    width: 1280px;
    height: 750px;
    background-color: #171717;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container{
    border-radius: 30px;
}

.image-container img {
    width: 595px;
    height: 690px;
    padding: 39px 64px 39px 64px;
    gap: 50px;
    border-radius: 60px;
    object-fit: cover;
}

.form-container {
    padding: 2rem;
}

h1 {
    color: #FFF;
    width: 467px;
    height: 60px;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    text-align: left;
}
p{
    color: #FFF;
    width: 467px;
    height: 23px;
    margin-bottom: 50px;

}

.form-group {
    margin-bottom: 1rem;
}

input {
    width: 467px;
    height: 53px;
    gap: 10px;
    background-color: #171717 !important;
    border: 1px solid #ddd;
    border-radius: 60px;
    font-size: 15px;
    margin: 10px;
}

button {
    width: 467px;
    padding: 0.75rem;
    margin: 10px;
    background-color: #FFF;
    color: #171717;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        display: none;
    }
}